---
import SquareLine from '@/Components/Common/Square/SquareLine.astro';
---

<div class='w-full h-auto fixed' style='z-index:-1'>
	<div
		class='absolute top-0 left-0 w-1/2 h-auto'>
		<div
			class='absolute inset-0 z-30 w-full h-full pointer-events-none bg-gradient-to-tl from-white dark:from-slate-950 from-50% via-90% to-100% via-transparent to-transparent'>
		</div>
		<div
			class='flex flex-col w-full h-full border-t border-l divide-y divide-dashed divide-slate-400 dark:divide-sky-700 border-slate-300 dark:border-slate-900'>
			<SquareLine />
			<SquareLine />
			<SquareLine />
			<SquareLine />
			<SquareLine />
			<SquareLine />
		</div>
	</div>

	<div
		class='absolute top-0 right-0 w-1/2 h-auto'>
		<div
			class='absolute inset-0 z-30 w-full h-full pointer-events-none bg-gradient-to-tr from-white dark:from-slate-950 from-50% via-90% to-100% via-transparent to-transparent'>
		</div>
		<div
			class='flex flex-col w-full h-full border-t border-l divide-y divide-dashed divide-slate-400 dark:divide-sky-700 border-slate-300 dark:border-slate-900'>
			<SquareLine />
			<SquareLine />
			<SquareLine />
			<SquareLine />
			<SquareLine />
			<SquareLine />
		</div>
	</div>
</div>
