---
import Square from '@/Components/Common/Square/Square.astro';
---

<div
	class='relative flex w-full h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-x divide-slate-200/30 dark:divide-sky-700/20 group'>
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
</div>
