---
// Layouts
import Layout from '@/Layouts/Layout.astro';

// Components
import Text from '@/Components/Common/Text.astro';
import Text2 from '@/Components/Common/Text2.astro';
import WorkExperience from '@/Components/Common/WorkExperience.astro';
import Divisor from '@/Components/Common/Divisor.astro';
import Tech from '@/Components/Common/Tech.astro';
import Social from '@/Components/Common/Social.astro';

// Lenguaje
import { useLocale } from '@/Hooks/useLocale';
const { t } = useLocale(Astro);
---

<Layout title={`AnderCMD | ${t('Nav.About')}`}>
	<section class='flex items-center max-xl:flex-col gap-20 max-xl:gap-8'>
		<img id='IconoLogoTheme' alt='AnderCMD Logo' class='w-3/12 drop-shadow-xl max-lg:w-40 max-lg:h-40' />
		<Text icon='' title={t('About.Title')} subtitle={t('About.Subtitle')} description={t('About.Description')} />
	</section>
	<section>
		<Social />
	</section>
	<Divisor />
	<section>
		<Text2 icon='fa-solid fa-laptop-code' title={t('Tech.Title')} subtitle='' description={t('Tech.Description')} />
		<Tech />
	</section>
	<Divisor />
	<section>
		<Text2
			icon='fa-solid fa-briefcase'
			title={t('WorkExperience.Title')}
			subtitle=''
			description={t('WorkExperience.Description')}
		/>
		<WorkExperience />
	</section>
</Layout>
