---
// Layouts
import Layout from '../../layouts/Layout.astro';
import Social from '../Common/Social.astro';
import Text from '../Common/Text.astro';
import Divisor from '../Common/Divisor.astro';
import FormContact from '../Common/FormContact.astro';

// Lenguaje
import { useLocale } from '../../Hooks/useLocale';
const { t } = useLocale(Astro);
---

<Layout title={`AnderCMD | ${t('Nav.Contact')}`}>
	<section class='flex items-center max-xl:flex-col gap-20 max-xl:gap-8'>
		<img
			src='/Images/Ander.jpg'
			alt='Ander González'
			class='shadow-xl w-60 h-60 rounded-3xl max-lg:w-40 max-lg:h-40'
		/>
		<Text
			icon='fa-solid fa-address-book'
			title={t('Contact.Title')}
			subtitle={t('Contact.Subtitle')}
			description={t('Contact.Description')}
		/>
	</section>
	<Social />
	<Divisor />
	<section class='mx-60 max-xl:mx-40 max-lg:mx-20 max-md:mx-10 max-sm:mx-0'>
		<FormContact />
	</section>
</Layout>
