---
// Tipos de props
interface Props {
	href: string;
	texto: string;
	newPage?: boolean;
	color?: 'primary' | 'secondary';
	icon?: string;
}

// Props
const { href, texto, newPage = false, color = 'primary', icon = '' } = Astro.props;

const colorClasses = {
	primary: 'bg-gradient-to-r from-sky-500 to-blue-600 hover:from-sky-600 hover:to-blue-700',
	secondary: 'bg-gradient-to-r from-slate-500 to-slate-600 hover:from-slate-600 hover:to-slate-700',
};
---

<a href={href} target={newPage ? '_blank' : '_self'} rel={newPage ? 'noopener noreferrer' : ''}>
	<button
		class={`w-full px-4 py-2 mt-3 font-medium text-white rounded-lg transition-all duration-300 ease-in-out ${colorClasses[color]} flex items-center justify-center gap-2 relative overflow-hidden shadow-md hover:shadow-lg hover:-translate-y-1 group`}>
		{icon && <i class={icon} />}
		{texto}
		<span class='absolute top-1/2 left-1/2 w-1 h-1 bg-white/60 rounded-full opacity-0 group-hover:animate-ripple'
		></span>
	</button>
</a>

<style>
	@keyframes ripple {
		0% {
			transform: scale(0, 0);
			opacity: 0.7;
		}
		100% {
			transform: scale(25, 25);
			opacity: 0;
		}
	}

	.group-hover\:animate-ripple {
		animation: ripple 0.7s ease-out;
	}
</style>
