---
// Tipos de props
interface Props {
	href: string;
	texto: string;
	newPage?: boolean;
}

// Props
const { href, texto, newPage } = Astro.props;
---

<a href={href} target={newPage === true ? '_blank' : '_self'}>
	<button
		class='w-full px-4 py-2 mt-4 font-bold text-white transition-all rounded-full bg-sky-500 hover:bg-sky-600'>
		{texto}
	</button>
</a>
