---
// Tipos de props
interface Props {
	href: string;
	texto: string;
}

// Props
const { href, texto } = Astro.props;
---

<a href={href}>
	<button
		class='w-full px-4 py-2 mt-4 font-bold text-white rounded-full bg-sky-500 hover:bg-sky-600 transition-all'>
		{texto}
	</button>
</a>
