---
// Lenguaje
import { useLocale } from '../../Hooks/useLocale';
const { t } = useLocale(Astro);

// Scripts
import { CurrentYear } from '../../Scripts/CurrentTime';
---

<footer class='flex flex-row items-center justify-between w-full p-4 border-t-2 max-md:flex-col max-md: gap-4'>
	<div class='flex items-center max-sm:flex-col gap-4'>
		<img
			src=''
			alt='Icono Logo AnderCMD'
			id='IconoLogoTheme'
			class='size-8'
		/>
		<h1 class="text-center">
			<a href='/' class='font-semibold transition-all hover:text-sky-500'
				>AnderCMD</a
			>
			| {t('Footer.Copyright')} 2024 {CurrentYear}
		</h1>
	</div>
	<div class='flex text-2xl gap-4'>
		<a href='https://www.linkedin.com/in/andercmd/'>
			<i class='fa-brands fa-linkedin transition-all hover:text-sky-500'></i>
		</a>
		<a href='https://github.com/AnderCMD'>
			<i class='fa-brands fa-github transition-all hover:text-sky-500'
			></i>
		</a>
		<a href='https://x.com/AnderCMDs'>
			<i class='fa-brands fa-x-twitter transition-all hover:text-sky-500'
			></i>
		</a>
	</div>
</footer>
