---
// Lenguaje
import { useLocale } from '../../Hooks/useLocale';
const { t } = useLocale(Astro);

// Scripts
import { CurrentYear } from '../../Scripts/CurrentTime';
---

<footer class='flex flex-row max-md:flex-col max-md: items-center justify-between p-4 w-full border-t-2 gap-4'>
	<div class='flex max-sm:flex-col items-center gap-4'>
		<img
			src=''
			alt='Icono Logo AnderCMD'
			id='IconoLogoTheme'
			class='size-8'
		/>
		<h1 class="text-center">
			<a href='/' class='transition-all hover:text-sky-500 font-semibold'
				>AnderCMD</a
			>
			| {t('Footer.Copyright')} 2024 {CurrentYear}
		</h1>
	</div>
	<div class='flex gap-4 text-2xl'>
		<a href='https://www.linkedin.com/in/andercmd/'>
			<i class='fa-brands fa-linkedin transition-all hover:text-sky-500'></i>
		</a>
		<a href='https://github.com/AnderCMD'>
			<i class='fa-brands fa-github transition-all hover:text-sky-500'
			></i>
		</a>
		<a href='https://x.com/AnderCMDs'>
			<i class='fa-brands fa-x-twitter transition-all hover:text-sky-500'
			></i>
		</a>
	</div>
</footer>
