---
// Dark Mode
import DarkMode from './DarkMode';

// Componentes
import DivisorNav from './DivisorNav.astro';

// Lenguaje
import { useLocale } from '../../Hooks/useLocale';
const { Lang, t, currentLocale, getRelativeLocaleUrl } = useLocale(Astro);
---

<nav>
	<div
		class='flex flex-wrap items-center justify-between p-4 mx-auto max-w-screen-xl'>
		<!-- Logo -->
		<a href='/' class='flex items-center space-x-3 rtl:space-x-reverse'>
			<img id='LogoTheme' src='' class='h-8' alt='AnderCMD Logo' />
		</a>

		<!-- Movil -->
		<button
			data-collapse-toggle='navbar-default'
			type='button'
			class='inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-600 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600'
			aria-controls='navbar-default'
			aria-expanded='false'>
			<span class='sr-only'>{t('Nav.OpenMenu')}</span>
			<svg
				class='w-5 h-5'
				aria-hidden='true'
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 17 14'>
				<path
					stroke='currentColor'
					stroke-linecap='round'
					stroke-linejoin='round'
					stroke-width='2'
					d='M1 1h15M1 7h15M1 13h15'></path>
			</svg>
		</button>

		<!-- Paginas -->
		<div class='hidden w-full lg:block lg:w-auto' id='navbar-default'>
			<div
				class='flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg lg:p-0 max-lg:bg-gray-50 lg:flex-row lg:space-x-8 rtl:space-x-reverse lg:mt-0 lg:border-0 max-lg:dark:bg-gray-800 dark:border-gray-700'>
				<a
					href={getRelativeLocaleUrl(currentLocale ?? '', '/')}
					class='flex items-center px-3 py-2 text-gray-900 rounded gap-2 hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-sky-500 lg:p-0 dark:text-white lg:dark:hover:text-sky-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent transition-all hover:scale-105'>
					<i class='text-black fa-solid fa-house dark:text-white'></i>
					<span>{t('Nav.Index')}</span>
				</a>
				<a
					href={getRelativeLocaleUrl(
						currentLocale ?? '',
						t('Nav.About')
					)}
					class='flex items-center px-3 py-2 text-gray-900 rounded gap-2 hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-sky-500 lg:p-0 dark:text-white lg:dark:hover:text-sky-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent transition-all hover:scale-105'>
					<i class='text-black fa-solid fa-person dark:text-white'
					></i>
					<span>{t('Nav.About')}</span>
				</a>
				<!-- <a
					href={getRelativeLocaleUrl(
						currentLocale ?? '',
						t('Nav.Posts')
					)}
					class='flex items-center px-3 py-2 text-gray-900 rounded gap-2 hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-sky-500 lg:p-0 dark:text-white lg:dark:hover:text-sky-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent transition-all hover:scale-105'>
					<i class='text-black fa-solid fa-newspaper dark:text-white'
					></i>
					<span>{t('Nav.Posts')}</span>
				</a> -->
				<a
					href={getRelativeLocaleUrl(
						currentLocale ?? '',
						t('Nav.Projects')
					)}
					class='flex items-center px-3 py-2 text-gray-900 rounded gap-2 hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-sky-500 lg:p-0 dark:text-white lg:dark:hover:text-sky-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent transition-all hover:scale-105'>
					<i class='text-black fa-solid fa-server dark:text-white'
					></i>
					<span>{t('Nav.Projects')}</span>
				</a>
				<a
					href={getRelativeLocaleUrl(
						currentLocale ?? '',
						t('Nav.Contact')
					)}
					class='flex items-center px-3 py-2 text-gray-900 rounded gap-2 hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-sky-500 lg:p-0 dark:text-white lg:dark:hover:text-sky-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent transition-all hover:scale-105'>
					<i class='text-black fa-solid fa-envelope dark:text-white'
					></i>
					<span>{t('Nav.Contact')}</span>
				</a>
				<DivisorNav />
				<div
					class='flex items-center px-3 py-2 text-gray-900 rounded gap-2 hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-sky-700 lg:p-0 dark:text-white lg:dark:hover:text-sky-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent transition-all hover:scale-105'>
					<DarkMode client:idle />
				</div>
				<DivisorNav />
				<div
					class='flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse'>
					<button
						type='button'
						data-dropdown-toggle='language-dropdown-menu'
						class='inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-900 rounded-lg cursor-pointer dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white transition-all hover:scale-105'>
						{
							Lang === 'en' ? (
								<div class='inline-flex items-center'>
									<img
										src='/Images/Brands/Estados-Unidos.webp'
										class='w-5 h-5 me-2'
										alt='US Flag'
									/>
									English
								</div>
							) : (
								<div class='inline-flex items-center'>
									<img
										src='/Images/Brands/Mexico.webp'
										class='w-5 h-5 me-2'
										alt='Bandera de Mexico'
									/>
									Español
								</div>
							)
						}
					</button>
					<!-- Dropdown -->
					<div
						class='z-50 hidden my-4 text-base list-none bg-white rounded-lg shadow gap-4 divide-y divide-gray-100 dark:divide-gray-500 dark:bg-gray-700'
						id='language-dropdown-menu'>
						<a
							href='/en/'
							class='block px-4 py-2 text-sm text-gray-700 hover:rounded-lg hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white transition-all hover:scale-105'
							role='menuitem'>
							<div class='inline-flex items-center'>
								<img
									src='/Images/Brands/Estados-Unidos.webp'
									class='w-5 h-5 me-2'
									alt='US Flag'
								/>
								English
							</div>
						</a>
						<a
							href='/'
							class='block px-4 py-2 text-sm text-gray-700 hover:rounded-lg hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white transition-all hover:scale-105'
							role='menuitem'>
							<div class='inline-flex items-center'>
								<img
									src='/Images/Brands/Mexico.webp'
									class='w-5 h-5 me-2'
									alt='Bandera de Mexico'
								/>
								Español
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
