<section class='flex max-sm:grid max-sm:grid-cols-4 max-md:justify-center justify-end gap-4'>
	<a href='https://github.com/AnderCMD'>
		<i
			class='fab fa-github text-3xl text-gray-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 transition-all ease-in-out'
		></i>
	</a>
	<a href='https://www.linkedin.com/in/andercmd/'>
		<i
			class='fab fa-linkedin text-3xl text-gray-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 transition-all ease-in-out'
		></i>
	</a>
	<a href='mailto:andercmd@outlook.com'>
		<i
			class='fa-solid fa-envelope text-3xl text-gray-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 transition-all ease-in-out'
		></i>
	</a>
	<a href='https://x.com/AnderCMDs'>
		<i
			class='fab fa-x-twitter text-3xl text-gray-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 transition-all ease-in-out'
		></i>
	</a>
	<!-- <a href=''>
		<i
			class='fab fa-youtube text-3xl text-gray-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 transition-all ease-in-out'
		></i>
	</a> -->
	<a href='https://www.twitch.tv/andercmds'>
		<i
			class='fab fa-twitch text-3xl text-gray-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 transition-all ease-in-out'
		></i>
	</a>
	<!-- <a href=''>
		<i
			class='fab fa-discord text-3xl text-gray-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 transition-all ease-in-out'
		></i>
	</a> -->
	<a href='https://learn.microsoft.com/es-es/users/andercmd/'>
		<i
			class='fab fa-microsoft text-3xl text-gray-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 transition-all ease-in-out'
		></i>
	</a>
	<a href='https://developers.google.com/profile/u/AnderCMD'>
		<i
			class='fab fa-google text-3xl text-gray-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 transition-all ease-in-out'
		></i>
	</a>
</section>
