---
const TechStack = [
	{
		name: 'HTML',
		icon: 'html5',
	},
	{
		name: 'CSS',
		icon: 'css3',
	},
	{
		name: 'JavaScript',
		icon: 'javascript',
	},
	{
		name: 'TypeScript',
		icon: 'typescript',
	},
	{
		name: 'Python',
		icon: 'python',
	},
	{
		name: 'React',
		icon: 'react',
	},
	{
		name: 'React Native',
		icon: 'react',
	},
	{
		name: 'Astro',
		icon: 'astro',
		invert: true,
	},
	{
		name: 'Tailwind CSS',
		icon: 'tailwindcss',
	},
	{
		name: 'NextJS',
		icon: 'nextjs',
		invert: true,
	},
	{
		name: 'ExpressJS',
		icon: 'express',
		invert: true,
	},
	{
		name: 'NestJS',
		icon: 'nestjs',
	},
	{
		name: 'GraphQL',
		icon: 'graphql',
		iconImage:
			'https://raw.githubusercontent.com/devicons/devicon/master/icons/graphql/graphql-plain.svg',
	},
	{
		name: 'MySQL',
		icon: 'mysql',
	},
	{
		name: 'PostgreSQL',
		icon: 'postgresql',
	},
	{
		name: 'MongoDB',
		icon: 'mongodb',
	},
	{
		name: 'Git',
		icon: 'git',
	},
	{
		name: 'GitHub',
		icon: 'github',
		invert: true,
	},
	{
		name: 'Docker',
		icon: 'docker',
	},
	{
		name: 'Vercel',
		icon: 'vercel',
		invert: true,
	},
	{
		name: 'AWS',
		icon: 'aws',
		iconImage:
			'https://raw.githubusercontent.com/devicons/devicon/master/icons/amazonwebservices/amazonwebservices-original-wordmark.svg',
	},
	{
		name: 'Hostinger',
		icon: 'hostinger',
		iconImage: 'https://cdn.worldvectorlogo.com/logos/hostinger.svg',
	},
];
---

<section
	class='my-4 grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-8'>
	{
		TechStack.map((tech) => (
			<figure class='flex flex-col items-center justify-center transition-all hover:scale-110 hover:drop-shadow-xl'>
				<figure class='flex flex-col items-center justify-center max-w-lg text-center p-2 border-2 rounded-lg shadow-md w-14 h-14  bg-slate-50 dark:bg-slate-800 border-slate-300 dark:border-slate-600'>
					<img
						class={` ${tech.invert ? 'dark:invert' : ''}`}
						src={
							tech.iconImage
								? tech.iconImage
								: `https://raw.githubusercontent.com/devicons/devicon/master/icons/${tech.icon}/${tech.icon}-original.svg`
						}
						alt={tech.name}
					/>
				</figure>
				<figcaption class='mt-2 text-center text-slate-600 text-md dark:text-slate-100'>
					{tech.name}
				</figcaption>
			</figure>
		))
	}
</section>
