---
interface Props {
	text: string;
	position?: 'top' | 'bottom' | 'left' | 'right';
}

const { text, position = 'top' } = Astro.props;

const positionClasses = {
	top: 'bottom-full left-1/2 -translate-x-1/2 mb-2',
	bottom: 'top-full left-1/2 -translate-x-1/2 mt-2',
	left: 'right-full top-1/2 -translate-y-1/2 mr-2',
	right: 'left-full top-1/2 -translate-y-1/2 ml-2',
};

const arrowClasses = {
	top: 'top-full left-1/2 -translate-x-1/2 border-l-transparent border-r-transparent border-b-transparent border-t-slate-900 dark:border-t-slate-700',
	bottom: 'bottom-full left-1/2 -translate-x-1/2 border-l-transparent border-r-transparent border-t-transparent border-b-slate-900 dark:border-b-slate-700',
	left: 'left-full top-1/2 -translate-y-1/2 border-t-transparent border-b-transparent border-r-transparent border-l-slate-900 dark:border-l-slate-700',
	right: 'right-full top-1/2 -translate-y-1/2 border-t-transparent border-b-transparent border-l-transparent border-r-slate-900 dark:border-r-slate-700',
};
---

<div class='tooltip-container relative inline-block group'>
	<slot />
	<div
		class={`absolute ${positionClasses[position]} px-3 py-2 text-xs font-medium text-white bg-slate-900 dark:bg-slate-700 rounded-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 whitespace-nowrap pointer-events-none z-50 shadow-lg`}>
		{text}
		<div class={`absolute ${arrowClasses[position]} w-0 h-0 border-4`}></div>
	</div>
</div>
